.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 267px;
  width: 400px;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: none;
  width: 300px;
}

td {
  text-align: center;
  width: 100px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #e5eeff;
}

td a {
  text-decoration: none;
}

th a {
  text-decoration: none;
  color: black;
}

section {
  text-align: center;
}

html {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  color: black;
  background-color: white;
}

header h1 {
  text-align: center;
  margin-top: 0px;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

footer {
  position: fixed;
  bottom:0px;
  right:0px;
}

.facebook {
  height: 32px;
  width: 32px;
}

.about-me {
  margin-left: 300px;
  margin-right: 300px;
  background-color: #e5eeff;
  padding-top: -25px;
  margin-top: 20px;
}

.message-box {
  width: 400px;
  height: 100px;
}

th {
  background-color: #b3ccff;
  border-radius: 10px;
}

.dropdown {
  border-radius: 10px;
}

#canvas {
  width: 75%;
  height: 75%;
  background-image: url("../imgs/pongBG.png");
  margin: auto;
}