.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 267px;
  width: 400px;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: none;
}

td {
  border: 2px solid #3399ff;
  border-radius: 10px;
  text-align: center;
  width: 100px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #e5f2ff;
}

td a {
  text-decoration: none;
}

section {
  text-align: center;
}

html {
  font-family: Verdana;
  color: black;
}

.current-page {
  font-weight: bold;
  color: black;
}

a:link {
  color: black;
}

footer {
  position: fixed;
  bottom:0px;
  right:0px;
}

.facebook {
  height: 32px;
  width: 32px;
}

.about-me {
  margin-left: 300px;
  margin-right: 300px;
  background-color: #e5f2ff;
  border: 2px solid #3399ff;
  padding-top: -25px;
  margin-top: 20px;
}