.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 333px;
  width: 500px;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: none;
}

td {
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  width: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

td a {
  text-decoration: none;
}

section {
  text-align: center;
}

html {
  font-family: Verdana;
  color: black;
}

.current-page {
  font-weight: bold;
  color: black;
}

a:link {
  color: black;
}